.newsContainer {
  width: 300px;
  color: black;
  background: #fff;
  border-radius: 3%;
  padding: 10px;
  height: 450px;
  text-decoration: none;
}
.newsImg {
  width: 100%;
  align-self: center;
  border-radius: 3%;
  border: #4287f5 solid 2px;
}
.anchorEl:hover p{
  text-decoration: none;
}