*,
*:before,
*:after {
  box-sizing: border-box;
}
.App {
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: aliceblue;
}
