*,
*:before,
*:after {
  box-sizing: border-box;
}
.App {
  background-color: #4287f5;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  color: aliceblue;
}
